@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #26272b;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1rem;
}


